.main {
  background-image: url("/imgs/404.png");
  background-size: 100%;
  width: 1280px;
  height: 740px;

  background-repeat: no-repeat;
  margin: 4% auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 72px 0 0 110px;
}
.wrapper p {
  font-family: Raleway;
  font-size: 150px;
  font-weight: 700;
  line-height: 210px;
  text-align: center;
  max-height: 180px;
  margin: 0;
  background: linear-gradient(83.24deg, #284fdc -22.56%, #578fec 106.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper h4 {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 20px 0;
}
.wrapper button {
  background: linear-gradient(83.24deg, #173cc2 -22.56%, #4d90ff 106.47%);
  padding: 12px 24px;
  border-radius: 50px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
  cursor: pointer;
  color: white;
  border: 0;
}
@media screen and (max-width: 1300px) {
  .main {
    width: 800px;
    height: 470px;
  }
  .wrapper {
    padding: 40px 0 0 50px;
  }
  .wrapper img {
    height: 23px;
    width: 103px;
  }
  .wrapper p {
    font-family: Raleway;
    font-size: 85px;
    font-weight: 700;
    line-height: 119px;
    text-align: center;
    height: 100px;
  }
  .wrapper h4 {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

    margin: 14px 0;
  }
  .wrapper button {
    padding: 10px 20px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
  }
}
@media screen and (max-width: 810px) {
  .main {
    width: 500px;
    height: 320px;
  }
  .wrapper {
    padding: 20px 0 0 30px;
  }
  .wrapper img {
    height: 23px;
    width: 103px;
  }
  .wrapper p {
    font-family: Raleway;
    font-size: 60px;
    font-weight: 700;
    line-height: 119px;
  }
  .wrapper h4 {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;

    margin: 8px 0;
  }
  .wrapper button {
    padding: 8px 16px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
  }
}
@media screen and (max-width: 510px) {
  .main {
    width: 320px;
    height: 320px;
    background-position: bottom;
    background-image: url("/imgs/404mobile.png");
  }
  .wrapper {
    padding: 50px 0 0 30px;
  }
  .wrapper img {
    height: 18px;
    width: 88px;
  }
  .wrapper p {
    font-family: Raleway;
    font-size: 47px;
    font-weight: 700;
    line-height: 65.8px;
    height: 60px;
  }
  .wrapper h4 {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

    margin: 8px 0;
  }
  .wrapper button {
    padding: 6px 12px;
    font-family: Raleway;
    font-size: 10px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
  }
}
