body {
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: lining-nums;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-Thin.ttf) format("truetype");
  font-weight: 100;
  font-size: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-size: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-Light.ttf) format("truetype");
  font-weight: 300;
  font-size: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-Medium.ttf) format("truetype");
  font-weight: 500;
  font-size: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-size: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-Bold.ttf) format("truetype");
  font-weight: 700;
  font-size: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-size: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(../../public/fonts/Raleway-Black.ttf) format("truetype");
  font-weight: 900;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-Thin.ttf) format("truetype");
  font-weight: 100;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-Light.ttf) format("truetype");
  font-weight: 300;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-size: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../public/fonts/Montserrat-Black.ttf) format("truetype");
  font-weight: 900;
  font-size: normal;
}
