.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 130px;
  border: 1px solid #578fec;
  border-radius: 20px;
  cursor: pointer;
}

.wrapper {
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img {
  width: 100%;
}
.on {
  border: 2px solid #284fdc;
}
@media screen and (max-width: 634px) {
  .main {
    height: 105px;
    width: 105px;
  }
  .main:hover {
    border: 2px solid #284fdc;
  }
  .wrapper {
    height: 76px;
    width: 76px;
  }
  .wrapper img {
    width: 90%;
    height: 90%;
  }
}
